body {
	margin: 0 auto 0 auto;
	padding: 1em 1em 1em 1em;
	max-width: 80ex;
	font-family: sans;
	color: #333333;
}

#body1 {
	margin-right: 1ex;
	margin-left: 1ex;
	text-align: justify;
}

h1 {
	text-align: right;
}

#links {
	width: 100%;
	text-align: center;
}

#avatar {
	width: 100%;
}

a {
	color: #1111ff;
}
