body {
	margin: 0 auto 0 auto;
	padding: 1em 1em 1em 1em;
	max-width: 80ex;
	font-family: sans;
	color: #333333;
	line-height: 1.6;
}

#body1 {
	text-align: justify;
}

h1 {
	text-align: right;
	margin: 0;
	margin-bottom: .67em;
	line-height: 1.2;
}

#links {
	width: 100%;
	text-align: center;
}

#avatar {
	width: 100%;
}

a {
	color: #1111ff;
}
